.productCard {
  @apply p-4 pt-14 border border-light-gray rounded-xl flex flex-col gap-2 bg-bg-color relative shadow-md cursor-pointer;
  width: calc(16% - 8px);
  height: 100%;

  &:hover {
    @apply shadow-xl text-text;
  }

  @media (max-width: 2138px) {
    width: calc(17% - 26px);
  }

  @media (max-width: 1919px) {
    width: calc(20% - 10px);
  }

  @media (max-width: 1399px) {
    width: calc(25% - 9px);
  }

  @media (max-width: 1200px) {
    width: 32%;
  }

  @media (max-width: 992px) {
    width: calc(33% - 3px);
  }

  @media (max-width: 768px) {
    width: calc(49% - 1px);
  }

  > div {
    > .productImageWrap {
      @apply flex-grow flex justify-center items-center min-h-44;

      @media (max-width: 468px) {
        @apply min-h-28;
      }

      > img {
        @apply mix-blend-multiply max-h-40;

        @media (max-width: 468px) {
          @apply max-h-28;
        }
      }
    }

    > h1 {
      @apply mt-8 flex-shrink-0 overflow-hidden;
      height: 3rem;

      @media (max-width: 468px) {
        @apply text-sm;
        height: 2.7rem;
      }
    }

    > .cardFooter {
      @apply flex items-center justify-between;

      > h1 {
        @apply text-2xl font-semibold max-xs:text-xl;

        > span {
          @apply text-lg ml-1 max-xs:text-sm;
        }
      }

      > svg {
        @apply p-1.5 w-9 h-auto rounded-lg;

        &:hover {
          @apply bg-light-gray;
        }

        @media (max-width: 468px) {
          @apply w-8 p-1.5;
        }
      }
    }
  }
}

.productPage {
  @apply p-14 flex items-start gap-4;

  @media (max-width: 1399px) {
    @apply px-7;
  }

  @media (max-width: 1200px) {
    @apply flex-col px-4;
  }

  > .imageWrap {
    @apply min-w-[720px] flex items-center;

    @media (max-width: 1919px) {
      @apply min-w-[600px];
    }

    @media (max-width: 1399px) {
      @apply min-w-[400px];
    }

    @media (max-width: 1200px) {
      @apply min-w-[600px];
    }

    @media (max-width: 768px) {
      @apply min-w-[200px];
    }

    > img {
      @media (max-width: 1399px) {
        @apply max-w-[400px];
      }
      @media (max-width: 1200px) {
        @apply max-w-[600px];
      }

      @media (max-width: 768px) {
        @apply max-w-[450px];
      }

      @media (max-width: 480px) {
        @apply max-w-[300px];
      }
    }
  }

  > div {
    @apply pt-5 flex flex-col gap-2 items-start w-full;

    @media (max-width: 768px) {
      @apply gap-1;
    }

    > .title {
      @apply text-3xl font-bold;

      @media (max-width: 768px) {
        @apply text-2xl;
      }
    }

    > .brand {
      @apply italic font-semibold text-xl text-gray;

      @media (max-width: 768px) {
        @apply text-lg;
      }
    }

    > .rating {
      @apply flex items-center gap-2 text-lg font-semibold mt-4;
    }

    > .productPrice {
      @apply text-4xl font-bold mt-2;

      @media (max-width: 768px) {
        @apply text-2xl;
      }

      > span {
        @apply text-2xl ml-2;

        @media (max-width: 768px) {
          @apply text-lg ml-1;
        }
      }
    }

    > hr {
      @apply border-light-gray w-full my-4;
    }

    > .detailsTitle {
      @apply text-2xl font-semibold;
    }
  }
}

.detailsItemTitle {
  @apply font-semibold;
}