.product--section {
  padding: 20px;
  overflow-x: auto; /* Додає горизонтальну прокрутку */
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.title--block {
  display: inline-block;
}

.title--text {
  font-size: 24px;
  margin: 0;
}

.title--line {
  margin: 10px auto 0;
  width: 50px;
  border: 2px solid #333;
}

.cards--block {
  display: flex;
  gap: 20px; /* Проміжок між картками */
}

.card {
  position: relative;
  display: inline-block;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 250px;
  flex-shrink: 0; /* Запобігає стисненню карток */
  overflow: hidden;
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: 350px;
  box-sizing: border-box;
}

.card:hover {
  transform: translateY(-5px); /* Плавний підйом картки при наведенні */
}

.card--photo {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.card--title {
  display: block;
  font-size: 16px;
  margin: 10px 0;
  color: #333;
  word-wrap: break-word; /* Переносить текст на новий рядок, якщо потрібно */
  text-align: center; /* Вирівнює текст по центру картки */
  overflow: hidden; /* Сховує переповнений текст */
  text-overflow: ellipsis; /* Додає "..." в кінці переповненого тексту */
}

.card--price {
  position: absolute;
  bottom: 24px;
  left: 24px;
  font-size: 18px;
  color: #e74c3c;
  font-weight: bold;
}

.card--href {
  text-decoration: none;
  color: inherit;
}

.card--button {
  position: absolute;
  bottom: 24px;
  right: 24px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.card--rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #ffd700; /* Золотий колір для зірок */
  margin: 10px 0;
}

.card--rating span {
  margin-left: 5px;
}

.card--rating .star {
  color: #ffd700; /* Золотий колір для зірок */
}

.product--section::-webkit-scrollbar {
  height: 8px;
}

.product--section::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.product--section::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
