@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-text: #000000;
  --app-background: #ffffff;
  --header-background: #221f1f;

  --black: #000000;
  --white: #ffffff;

  --button-hover-dark: #292929;
  --button-hover-light: #EBEBEB;

  --error: #E43B11;

  --gray: #78716c;
  --placeholder: #a8a29e;
  --light-gray: #e5e5e5;

  --subcolor: #0891b2;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-background-clip: text;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #ffffff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background-color: #a7a7a7;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #797979;
}

::-webkit-scrollbar-thumb:active {
  background-color: #5c5c5c;
}

.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 0.2 !important;
}

.button {
  @apply rounded-xl px-16 py-2 font-bold bg-black text-white;

  &:hover {
    @apply bg-button-hover-dark;
  }

  &.light {
    @apply bg-white text-black;

    &:hover {
      @apply bg-button-hover-light;
    }
  }

  &.button-small {
    @apply px-4 py-1 text-sm;
  }

  &.button-medium {
    @apply px-6 py-1 text-lg;
  }

  &.button-large {
    @apply px-28 py-4 text-2xl font-bold;
  }
}