@import url("https://fonts.googleapis.com/css2?family=Kanit");

.logo-vertical-slider {
  display: flex;
  align-self: center;
  margin-top: 10px;
  margin-left: 10px;
  height: calc(40px + 2vmin);
}

.logo-text-slider {
  margin-left: 10px;
  align-self: center;
  font-size: calc(10px + 1.5vmin);
  font-family: Kanit;
  color: #fff;
}

.logo-image-slider {
  margin: 5px;
}

.footer {
  display: flex;
  text-align: center;
  align-self: center;
  font-family: Kanit;
  font-size: calc(4px + 0.65vmin);
  margin: 10px;
  color: #fff;
}
